In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
#gather data
alpha_08 = pd.read_excel('data/all_alpha_08.xls')
alpha_08.head()

,Model,Displ,Cyl,Trans,Drive,Fuel,Sales Area,Stnd,Underhood ID,Veh Class,Air Pollution Score,FE Calc Appr,City MPG,Hwy MPG,Cmb MPG,Unadj Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXT03.7PKR,SUV,7,Drv,15,20,17,22.0527,4,no
1,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,FA,B5,8HNXT03.7PKR,SUV,6,Drv,15,20,17,22.0527,4,no
2,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXT02.3DKR,SUV,7,Drv,17,22,19,24.1745,5,no
3,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,FA,B5,8HNXT02.3DKR,SUV,6,Drv,17,22,19,24.1745,5,no
4,ACURA RL,3.5,(6 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXV03.5HKR,midsize car,7,Drv,16,24,19,24.5629,5,no

In [3]:
alpha_18 = pd.read_excel('data/all_alpha_18.xlsx')
alpha_18.head()

,Model,Displ,Cyl,Trans,Drive,Fuel,Cert Region,Stnd,Stnd Description,Underhood ID,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay,Comb CO2
0,ACURA ILX,2.4,4.0,AMS-8,2WD,Gasoline,CA,L3ULEV125,California LEV-III ULEV125,JHNXV02.4NH3,small car,3,25,35,29,6,No,309
1,ACURA ILX,2.4,4.0,AMS-8,2WD,Gasoline,FA,T3B125,Federal Tier 3 Bin 125,JHNXV02.4NH3,small car,3,25,35,29,6,No,309
2,ACURA MDX,3.0,6.0,AMS-7,4WD,Gasoline,CA,L3ULEV125,California LEV-III ULEV125,JHNXV03.08H3,small SUV,3,26,27,27,6,No,330
3,ACURA MDX,3.0,6.0,AMS-7,4WD,Gasoline,FA,T3B125,Federal Tier 3 Bin 125,JHNXV03.08H3,small SUV,3,26,27,27,6,No,330
4,ACURA MDX,3.5,6.0,SemiAuto-9,2WD,Gasoline,CA,L3ULEV125,California LEV-III ULEV125,JHNXV03.5RH3,small SUV,3,19,27,22,4,No,404

In [4]:
row_08 , columns_08 =alpha_08.shape

In [5]:
row_08 ,columns_08

(2404, 18)

In [6]:
row_18 , columns_18 =alpha_18.shape

In [7]:
row_18 , columns_18

(2713, 18)

In [8]:
alpha_08.duplicated().sum()

25

In [9]:
c=0
for i in alpha_08.duplicated():
    if i == True:
        c+=1
c

25

In [52]:
alpha_18.duplicated().sum()

0

In [11]:
alpha_08.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2404 entries, 0 to 2403
Data columns (total 18 columns):
Model                   2404 non-null object
Displ                   2404 non-null float64
Cyl                     2205 non-null object
Trans                   2205 non-null object
Drive                   2311 non-null object
Fuel                    2404 non-null object
Sales Area              2404 non-null object
Stnd                    2404 non-null object
Underhood ID            2404 non-null object
Veh Class               2404 non-null object
Air Pollution Score     2404 non-null object
FE Calc Appr            2205 non-null object
City MPG                2205 non-null object
Hwy MPG                 2205 non-null object
Cmb MPG                 2205 non-null object
Unadj Cmb MPG           2205 non-null float64
Greenhouse Gas Score    2205 non-null object
SmartWay                2404 non-null object
dtypes: float64(2), object(16)
memory usage: 338.1+ KB

In [12]:
alpha_18.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2713 entries, 0 to 2712
Data columns (total 18 columns):
Model                   2713 non-null object
Displ                   2663 non-null float64
Cyl                     2663 non-null float64
Trans                   2713 non-null object
Drive                   2713 non-null object
Fuel                    2713 non-null object
Cert Region             2713 non-null object
Stnd                    2713 non-null object
Stnd Description        2713 non-null object
Underhood ID            2713 non-null object
Veh Class               2713 non-null object
Air Pollution Score     2713 non-null int64
City MPG                2713 non-null object
Hwy MPG                 2713 non-null object
Cmb MPG                 2713 non-null object
Greenhouse Gas Score    2713 non-null int64
SmartWay                2713 non-null object
Comb CO2                2713 non-null object
dtypes: float64(2), int64(2), object(14)
memory usage: 381.6+ KB

In [13]:
alpha_08.nunique()

Model                   436
Displ                    47
Cyl                       8
Trans                    14
Drive                     2
Fuel                      5
Sales Area                3
Stnd                     12
Underhood ID            343
Veh Class                 9
Air Pollution Score      13
FE Calc Appr              2
City MPG                 39
Hwy MPG                  43
Cmb MPG                  38
Unadj Cmb MPG           721
Greenhouse Gas Score     20
SmartWay                  2
dtype: int64

In [14]:
set(alpha_08['SmartWay'])

{'no', 'yes'}

In [15]:
set(alpha_08['Greenhouse Gas Score'])

{'0',
 '1',
 '10',
 '2',
 '3',
 '4',
 '4/2',
 '4/3',
 '5',
 '5/3',
 '6',
 '6/3',
 '6/4',
 '6/5',
 '7',
 '7/5',
 '7/6',
 '8',
 '8/6',
 '9',
 nan}

In [16]:
alpha_18.nunique()

Model                   652
Displ                    45
Cyl                       9
Trans                    29
Drive                     2
Fuel                      6
Cert Region               2
Stnd                     25
Stnd Description         25
Underhood ID            422
Veh Class                10
Air Pollution Score       7
City MPG                113
Hwy MPG                 119
Cmb MPG                 110
Greenhouse Gas Score     10
SmartWay                  3
Comb CO2                404
dtype: int64

In [17]:
set(alpha_08['Greenhouse Gas Score'])

{'0',
 '1',
 '10',
 '2',
 '3',
 '4',
 '4/2',
 '4/3',
 '5',
 '5/3',
 '6',
 '6/3',
 '6/4',
 '6/5',
 '7',
 '7/5',
 '7/6',
 '8',
 '8/6',
 '9',
 nan}

In [18]:
len(set(alpha_08['SmartWay']))

2

In [19]:
#Drop column

In [20]:
D08_dol =['Stnd', 'Underhood ID', 'FE Calc Appr', 'Unadj Cmb MPG']
alpha_08.drop(D08_dol , axis=1 , inplace=True)

In [21]:
alpha_08.shape

(2404, 14)

In [22]:
D18_dol =['Stnd', 'Stnd Description', 'Underhood ID', 'Comb CO2']
alpha_18.drop(D18_dol , axis=1 , inplace=True)

In [23]:
alpha_18.shape

(2713, 14)

In [24]:
alpha_08.rename(columns={'Sales Area':'Cert Region'} ,inplace=True)

In [25]:
alpha_08.head()

,Model,Displ,Cyl,Trans,Drive,Fuel,Cert Region,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,15,20,17,4,no
1,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,FA,SUV,6,15,20,17,4,no
2,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,17,22,19,5,no
3,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,FA,SUV,6,17,22,19,5,no
4,ACURA RL,3.5,(6 cyl),Auto-S5,4WD,Gasoline,CA,midsize car,7,16,24,19,5,no

In [26]:
alpha_08.rename(columns=lambda x: x.strip("").lower().replace(' ', '_'),inplace=True)

In [27]:
alpha_08.head()

,model,displ,cyl,trans,drive,fuel,cert_region,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,15,20,17,4,no
1,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,FA,SUV,6,15,20,17,4,no
2,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,17,22,19,5,no
3,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,FA,SUV,6,17,22,19,5,no
4,ACURA RL,3.5,(6 cyl),Auto-S5,4WD,Gasoline,CA,midsize car,7,16,24,19,5,no

In [28]:
alpha_18.rename(columns=lambda x: x.strip("").lower().replace(' ', '_'),inplace=True)

In [29]:
alpha_18.head()

,model,displ,cyl,trans,drive,fuel,cert_region,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA ILX,2.4,4.0,AMS-8,2WD,Gasoline,CA,small car,3,25,35,29,6,No
1,ACURA ILX,2.4,4.0,AMS-8,2WD,Gasoline,FA,small car,3,25,35,29,6,No
2,ACURA MDX,3.0,6.0,AMS-7,4WD,Gasoline,CA,small SUV,3,26,27,27,6,No
3,ACURA MDX,3.0,6.0,AMS-7,4WD,Gasoline,FA,small SUV,3,26,27,27,6,No
4,ACURA MDX,3.5,6.0,SemiAuto-9,2WD,Gasoline,CA,small SUV,3,19,27,22,4,No

In [30]:
alpha_08[alpha_08['cert_region']=='CA'].count()

model                   1084
displ                   1084
cyl                     1009
trans                   1009
drive                   1047
fuel                    1084
cert_region             1084
veh_class               1084
air_pollution_score     1084
city_mpg                1009
hwy_mpg                 1009
cmb_mpg                 1009
greenhouse_gas_score    1009
smartway                1084
dtype: int64

In [31]:
alpha_18[alpha_18['cert_region']=='CA'].count()

model                   1341
displ                   1317
cyl                     1317
trans                   1341
drive                   1341
fuel                    1341
cert_region             1341
veh_class               1341
air_pollution_score     1341
city_mpg                1341
hwy_mpg                 1341
cmb_mpg                 1341
greenhouse_gas_score    1341
smartway                1341
dtype: int64

In [32]:
alpha_18['cert_region'].count()

2713

In [33]:
set(alpha_18['cert_region'])

{'CA', 'FA'}

In [34]:
set(alpha_08['cert_region'])

{'CA', 'FA', 'FC'}

In [35]:
alpha_08.drop(['cert_region'] ,axis=1 ,inplace=True)

In [36]:
alpha_18.drop(['cert_region'] ,axis=1 ,inplace=True)

In [37]:
alpha_08.isnull().sum()

model                     0
displ                     0
cyl                     199
trans                   199
drive                    93
fuel                      0
veh_class                 0
air_pollution_score       0
city_mpg                199
hwy_mpg                 199
cmb_mpg                 199
greenhouse_gas_score    199
smartway                  0
dtype: int64

In [38]:
alpha_18.isnull().sum()

model                    0
displ                   50
cyl                     50
trans                    0
drive                    0
fuel                     0
veh_class                0
air_pollution_score      0
city_mpg                 0
hwy_mpg                  0
cmb_mpg                  0
greenhouse_gas_score     0
smartway                 0
dtype: int64

In [39]:
alpha_08.dropna(inplace=True)

In [40]:
alpha_18.dropna(inplace=True)

In [41]:
alpha_08.shape

(2205, 13)

In [42]:
alpha_18.shape

(2663, 13)

In [43]:
alpha_08.isnull().sum()

model                   0
displ                   0
cyl                     0
trans                   0
drive                   0
fuel                    0
veh_class               0
air_pollution_score     0
city_mpg                0
hwy_mpg                 0
cmb_mpg                 0
greenhouse_gas_score    0
smartway                0
dtype: int64

In [47]:
alpha_08.drop_duplicates(inplace=True)

In [48]:
alpha_18.drop_duplicates(inplace=True)

In [49]:
alpha_08.shape

(1650, 13)

In [50]:
alpha_18.shape

(1361, 13)

In [53]:
alpha_08.dtypes

model                    object
displ                   float64
cyl                      object
trans                    object
drive                    object
fuel                     object
veh_class                object
air_pollution_score      object
city_mpg                 object
hwy_mpg                  object
cmb_mpg                  object
greenhouse_gas_score     object
smartway                 object
dtype: object

In [56]:
alpha_08['cyl'] =alpha_08['cyl'].astype(int)

ValueError: could not convert string to float: '6/4'